<%= form_for(@factura) do |f| %>
  <% if @factura.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@factura.errors.count, "error") %> prohibited this factura from being saved:</h2>

      <ul>
      <% @factura.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :pintura_id %><br>
    <%= f.select( "pintura_id", Pintura.all.collect{|l| [ l.modelo, l.id ]}, {include_blank: 'Selecione Pintura'}) %>
  </div>
  <div class="field">
    <%= f.label :proveedor_id %><br>
    <%= f.select( "proveedor_id", Proveedor.all.collect{|l| [ l.empresa, l.id ]}, {include_blank: 'Selecione Proveedor'}) %>
  </div>
  <div class="field">
    <%= f.label :cantidad %><br>
    <%= f.number_field :cantidad %>
  </div>
  <div class="field">
    <%= f.label :precio %><br>
    <%= f.number_field :precio %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
