<p id="notice"><%= notice %></p>

<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">Proveedores_Pinturas</div>

  <!-- Table -->
  <table class="table">
  <thead>
    <tr>
      <th>Pintura</th>
      <th>Proveedor</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @prov_pints.each do |prov_pint| %>
      <tr>
        <td><%= prov_pint.pintura.modelo %></td>
        <td><%= prov_pint.proveedor.empresa %></td>
        <td><%= link_to 'Mostrar', prov_pint %></td>
        <td><%= link_to 'Editar', edit_prov_pint_path(prov_pint) %></td>
        <td><%= link_to 'Eliminar', prov_pint, method: :delete, data: { confirm: '¿Estas seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<br>

<%= link_to 'Agregar Proveedor_Pintura', new_prov_pint_path %>
