<p id="notice"><%= notice %></p>


<p>
  <strong>Proveedor:</strong>
  <%= @prov_pint.proveedor.empresa %>
</p>

<p>
  <strong>Pintura:</strong>
  <%= @prov_pint.pintura.modelo %>
</p>


<%= link_to 'Editar', edit_prov_pint_path(@prov_pint) %> |
<%= link_to 'Volver', prov_pints_path %>
