
<div class="panel panel-default">
  <div class="panel-body">
    <h2>
      <strong>Empresa:</strong>
      <%= @proveedor.empresa %>

      </h2>
  </div>
  <div class="panel-footer">
    <strong>Correo:</strong>
  <%= @proveedor.correo %></div>
</div>

<h4>Pinturas del Proveedor</h4>

<% @pinturas.each do |pintura| %>

<div class="panel-footer">
  <strong>Modelo:</strong>
  <%= pintura.modelo %>
</div>
<div class="panel-footer">
  <strong>Color:</strong>
  <%= pintura.color %>
</div>
<br>
<% end %>
<br>



<%= link_to 'Editar', edit_proveedor_path(@proveedor) %> |
<%= link_to 'Volver', proveedors_path %>
