<p id="notice"><%= notice %></p>
<div class="panel panel-default">
  <div class="panel-body">
    <h2>
      <strong>Empresa:</strong>
      <%= @proveedor.empresa %>
      
      </h2>
  </div>
  <div class="panel-footer">
    <strong>Correo:</strong>
  <%= @proveedor.correo %></div>
</div>


<%= link_to 'Editar', edit_proveedor_path(@proveedor) %> |
<%= link_to 'Volver', proveedors_path %>
