<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">Pinturas</div>
  <!-- Table -->
  <table class="table">
  <thead>
    <tr>
      <th>Modelo</th>
      <th>Color</th>
      <th>Proveedor</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pinturas.each do |pintura| %>
      <tr>
        <td><%= pintura.modelo %></td>
        <td><%= pintura.color %></td>
        <td><%= pintura.proveedor.empresa %></td>
        <td><%= link_to 'Mostrar', pintura %></td>
        <td><%= link_to 'Editar', edit_pintura_path(pintura) %></td>
        <td><%= link_to 'Eliminar', pintura, method: :delete, data: { confirm: '¿Estas suguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<br>

<%= link_to 'Agregar Pintura', new_pintura_path %>
