<p id="notice"><%= notice %></p>
<div class="panel panel-default">
  <div class="panel-body">
    <h2>
      <strong>Modelo:</strong>
      <%= @pintura.modelo %>
      <div>

    </div>
      </h2>
  </div>
  <div class="panel-footer">
    <strong>Color:</strong>
    <%= @pintura.color %>
</div>
<div class="panel-footer">
  <strong>Proveedor:</strong>
  <%= @pintura.proveedor.empresa %>
</div>

<%= link_to 'Editar', edit_pintura_path(@pintura) %> |
<%= link_to 'Volver', pinturas_path %>
